body {
    background-color: powderblue;
    text-align: center;
}

.lists {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.list-item, .done-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button {
    margin-bottom: 1em;
    padding: 1em 3em;
    border-radius: .5em;
}
button:focus {
    outline:0;
    animation: rotate-center 0.6s ease-in-out both;
}


/* .complete-button {
    background-color: springgreen;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    width: 100px;
    }

    .complete-button:hover{
    border-color: rgba(0,0,0,1);
    }

    @media all and (max-width:30em) {
    .complete-button{
    display:block;
    margin:0.2em auto;
    }
} */

